<% content_for :header do %>
	<%= link_to image_tag("layout/logo_lg.jpg"), root_path %>
	<div id="login" class="float_right">
	  <p class="float_right">Already a member?</p> <%= button_to "Log In", new_user_session_path, :method => "get", :class => "float_right"  %>
	</div>

<% end %>

<% content_for :content do %>
<div id="bulletin">
	<div id="links" class="container_12">
		<div id="home" class="grid_2 prefix_5">
			<%= link_to "Home", root_path %>
		</div>
		<div id="home" class="grid_2">
			<%= link_to "About", root_path %>
		</div>
		<div id="home" class="grid_2 suffix_1">
			<%= link_to "Contact", root_path %>
		</div>
		<div id="signup" class="grid_5 suffix_7">
		<%= link_to image_tag("layout/signup.png"), new_user_registration_path %>
		</div>
	</div>
</div>
<% end %>

<%= render :file => 'layouts/non_privleged' %>