<% content_for :head do %>
	<title>AccountAppBase</title>
	<%= stylesheet_link_tag    "global/manifest" %>
	<%= stylesheet_link_tag    "one_column_fixed/manifest" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
<% end %>


<% content_for :body do %>
	<%= render "global/menubar"%>
	<div id="head-container">
		<div id="header">
			<h1>
				<%= title %>
				<div id="login">
				  	<%= render "global/login"%>
				</div>
			</h1>
		</div>
	</div>
	<div id="navigation-container">
		<div id="navigation">
			<%= yield :navigation %>
		</div>
	</div>
	<div id="content-container">
		<div id="content-container2">
			<div id="content-container3">
				<div id="content">
					<%= yield :content %>
				</div>
			</div>
		</div>
		<div id="footer-container">
			<div id="footer">
				<%= footer %>
			</div>
		</div>
	</div>
<% end %>

<%= render 'layouts/application' %>