<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<% if content_for?(:head) %>
		<%= yield :head %>
	<% else %>
		<%= stylesheet_link_tag "privleged" %>
	<% end %>
	
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!--[if gte IE 9]>
	  <style type="text/css">.gradient {filter: none;}</style>
	<![endif]-->
	
</head>
	
<body>
<%= yield :body %>
</body>
</html>
