<% content_for :head do %>
	<%= stylesheet_link_tag "homepage" %>
<% end %>

<% content_for :body do %>

	<div id="body_wrapper" class="container_12">
		<div id="header" class="grid_12">
			<%= yield :header %>
		</div>
	</div>
	<div id="content">
		<%= yield :content %>
	</div>


		<%# Define the Page Footer %>
		<div id="footer">
			<p>
				<%= footer %>
			</p>
		</div>
	</div>

	<%# Development Debug Box %>
	<% if Rails.env.development? %>
		<div id="debug">
			<h2>Debug Parameters</h2>
			<%= debug(params) %><br/><br/>
		</div>
	<% end %>
<% end %>
