<%= render "global/menubar"%>

<% content_for :head do %>
	<%= stylesheet_link_tag "homepage" %>
<% end %>

<% content_for :body do %>
<div id="header">
	<%= yield :header %>
</div>
	<div id="content">

		<div id="navigation" class="float_right">
			<%= yield :navigation %>
		</div>

		<%= yield :content %>

	</div>


		<%# Define the Page Footer %>
		<div id="footer">
			<p>
				<%= footer %>
			</p>
		</div>
	</div>

	<%# Development Debug Box %>
	<% if Rails.env.development? %>
		<div id="debug">
			<h2>Debug Parameters</h2>
			<%= debug(params) %><br/><br/>
		</div>
	<% end %>
<% end %>
