<% content_for :body do %>
	<%= render "global/menubar"%>
	
	<div id="topbar">
		  <%= link_to image_tag("layout/logo_sm.jpg"), root_path %>
		<div id="navigation">
			<%= yield :navigation %>
		</div>
	</div>
	<div id="steelbar">
	</div>
	<div id="body_wrapper">
		<div id="content_wrapper" class="container_12">
			<% if content_for?(:sidebar) %>
				<div id="half_top" class="grid_9"></div>
			  <div id="half" class="grid_9">
					<%= yield :content %>
				</div>
				<div id="half_bottom" class="grid_9"></div>
				<div id="sidebar_top" class="grid_3"></div>
				<div id="sidebar" class="grid_3">
					<%= yield :sidebar %>
				</div>
				<div id="sidebar_bottom" class="grid_3"></div>
			<% else %>
				<div id="full_top" class="grid_12"></div>
				<div id="full" class="grid_10 prefix_1 suffix_1">
					<%= yield :content %>
				</div>
				<div id="full_bottom" class="grid_12"></div>
			<% end %>
		</div>
	</div>
	<div id="steelbar">
	</div>
	<div id="footer">
		<p><%= footer %></p>
	</div>

	<%# Development Debug Box %>
	<% if Rails.env.development? %>
		<div id="debug">
			<h2>Debug Parameters</h2>
			<%= debug(params) %><br/><br/>
		</div>
	<% end %>
<% end %>